:root {
    --background_dark: #0B0F14;
    --background_light: #30363d57;
    --background_blue: #0066ff;

    --text-color: #c7c7c7;
    --second-text-color: #8b8b8b;
    --error: red;

    --boxShadow: 0 4px 20px rgba(0, 0, 0, 0.3);

    --border-color: #c7c7c7;
    --primary_color: #0066ff;
    --transition: .2s;
}