@use 'variables';
@use 'global';

@use "./pages/regLog";
@use "./pages/layout/index" as *;
@use "./pages/notFound";
@use "./pages/home/index" as *;
@use "./pages/settings/index" as *;
@use "./pages/subscriptions/index" as *;
@use "./pages/profile/index" as *;
@use "./pages/requests/index" as *;
